.name{
  font-size: 24PX;
  font-weight: bold;
  color: #282828;
  float: left;
}
.pronunciation{
  font-size: 16px;
  padding: 0;
  float: left;
}
.title-word{
  font-size: 16px;
  padding: 0;
}
.definition{
  padding: 0;
}
.example{
  padding: 0;
}
