.word{
  font-size: 24PX;
  font-weight: bold;
  height: 40px;
}
.list-mean li{
  list-style-type: none;
  border-bottom: 1px dotted #CCC;
  margin-left: 15px;
  margin-bottom: 15px;
}
.mean-word{
  color: #282828;
  font-size: 20px;
  font-weight: bold;
}
.mean-example{
  color: green;
  font-size: 14px;
  font-style: italic;
}
